.sp-force-hide {
  display: none;
}

.sp-form[sp-id="183373"] .sp-form-control {
  font-size: 15px;
  height: 35px;
  width: 100%;
}

.sp-form[sp-id="183373"] .sp-button-messengers {
  border-radius: 4px;
}

.sp-form[sp-id="183373"] .sp-button {
  border-radius: 4px;
  background-color: #588ac5;
  color: #ffffff;
  width: auto;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
  box-shadow: none;
}

.sp-form[sp-id="183373"] .sp-button-container {
  text-align: left;
}