.page-header {
  position: fixed;
  top: 20px;
  width: calc(100% - 280px);
}
.page-header h4 {
  text-transform: capitalize;
  line-height: 56px;
  font-weight: 500;
}


@media only screen and (min-width: 361px) and (max-width: 411px) {
  .page-header {
    width: 100%;
  }
}